#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.aside {
  background-color: hsl(240, 100%, 5%);
  color: white;
}

.aside h2 {
  color: hsl(35, 77%, 62%);
}

.headline p {
  color: hsl(236, 13%, 42%);
}

.hamburger-menu {
  border: 2px solid;
  z-index: 3;
}

.hamburger-menu span {
  border: 2px solid black;
  margin: 4px;
  width: 2.5em;
  transition: transform 0.3s ease-in-out;
}

.first.open {
  transform: translateY(10px) rotate(45deg);
}

.second.open {
  opacity: 0;
}

.third.open {
  transform: translateY(-14px) rotate(-45deg);
}

@media (max-width: 767px) {
  .overlay {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 50%;
    bottom: 0;
  }
}
